{% extends "hello/layout.html" %}
{% block title %}

{% endblock %}
{% block content %}
<div class="features">
    <h1 class="h_h">Форма по добавлению сотрудника на сайт</h1>
    <form method="post" class="form" action=".">
        <div class="task_form">
            <p class="text">Зарегистрируйте сотрудника на сайте</p>
            {{ form2.as_p }}<br>
            {% csrf_token %}
            <p class="text">{{ error }}</p>
        </div>
        <button class="roll">Создать</button>

    </form>
    
    <a href = "{% url 'new_emp' %}" class="btn-back"><button type="submit" class="btn-action">Назад</button></a>
</div>
{% endblock %}